<!-- layouts/section1.html -->
{{ define "section1" }}
<section>
    <!-- Section1 content goes here -->
    <div class="container">
        <div class="title-wrapper has-text-centered">
          <h2 class="title is-2">Great power comes</h2>
          <h3 class="subtitle is-5 is-muted">with great responsibility</h3>
          <div class="divider is-centered"></div>
        </div>
    
        <div class="content-wrapper">
          <div class="columns">
            <div class="column is-one-third">
              <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
                <div class="card-title">
                  <h4>App builder</h4>
                </div>
                <div class="card-icon">
                    <img src="/images/illustrations/icons/mouse-globe.svg">
                </div>
                <div class="card-text">
                    <p>This is some explanatory text that is on two rows</p>
                </div>
                <div class="card-action">
                  <a href="/" class="button btn-align-md accent-btn raised">Free trial</a>
                </div>
              </div>
            </div>
            <div class="column is-one-third">
              <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
                <div class="card-title">
                  <h4>Cloud integration</h4>
                </div>
                <div class="card-icon">
                    <img src="/images/illustrations/icons/laptop-cloud.svg">
                </div>
                <div class="card-text">
                    <p>This is some explanatory text that is on two rows</p>
                </div>
                <div class="card-action">
                  <a href="/" class="button btn-align-md accent-btn raised">Get started</a>
                </div>
              </div>
            </div>
            <div class="column is-one-third">
              <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
                <div class="card-title">
                  <h4>Add-ons &amp; plugins</h4>
                </div>
                <div class="card-icon">
                    <img src="/images/illustrations/icons/plug-cloud.svg">
                </div>
                <div class="card-text">
                    <p>This is some explanatory text that is on two rows</p>
                </div>
                <div class="card-action">
                  <a href="/" class="button btn-align-md accent-btn raised">Get started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
{{ end }}
